### Required values for Google Sheets ID Store (when ID_STORE_ADAPTER=googlesheets):
# name of application, e.g. "sync"
ID_STORE_CONFIG_applicationName=sync
# full path of auth file, e.g. "/data/google-auth.json"
ID_STORE_CONFIG_jsonAuthFilePath=/data/google-auth.json
# id of Google sheet, can be obtained from the URL, and is 44 characters long
ID_STORE_CONFIG_spreadsheetId=
